* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Aprecu Pro';
    src: url('/apercu_medium_pro.otf');
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    font-family: 'Aprecu Pro';
    background: #000;
    color: #fff;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    font-size: inherit;
    letter-spacing: inherit;
}

button {
    color: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background: transparent;
}

.loader-screen {
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-screen h1 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 6px;
    cursor: default;
}